@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('/upheavtt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #0d0d0d;
  --color-secondary: #1a1a1a;
  --color-accent: #ffcc00;
  --color-text: #ffffff;
}

body {
  font-family: 'CustomFont', monospace;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.pixel-font {
  font-family: 'CustomFont', monospace;
}

.bg-black {
  background-color: var(--color-secondary);
}

.text-white {
  color: var(--color-text);
}

.text-accent {
  color: var(--color-accent);
}



